:root{
        --azul-dnc: #0C70F2;
        --preto-dnc: #303030;
        --cinza-hover: #c9c9c9;
        --fonte-padrao: 'Inter';
    }

    #navHeader {
        width: 100%;
        border: 0;
        height: 100px;
        background-color: var(--preto-dnc);
        display: flex;
        justify-content:space-between;
        align-items: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
        
    }
    body {
        margin: 0px;
        padding: 0px;
        background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
        background-repeat: no-repeat;
    }
    #navHeader div a {
        font-family: var(--fonte-padrao);
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;
        text-decoration: none;
    }
    #headerMenu{
        display: flex;
        width: 63%;
        justify-content: space-around;
        align-items:center;
        margin-left: 3%;
    
    }
    #navHeader button {
        margin-right: 130px;
        background: var(--azul-dnc);
        box-shadow: 4px 3px 5px rgba(12, 112, 242, 0.25);
        font-family: var(--fonte-padrao);
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        border: 0px;
        height: 45px;
        width: 100px;     
        cursor: pointer;       
    }
    #headerMenu img {
        width: 130px;
        
    }

    #navHeader div a:hover {
        color: var(--cinza-hover);
        }

        /*Estilização da Seção Principal do Site*/

    section{
        display: flex;
        flex-direction: column;
        align-items:center;

        margin-top:100px;
        margin-bottom:250px;
    }

    header{
        color:white;
        font-family: var(--fonte-padrao);
    }
    header h1 {
        font-size: 80px;
        font-weight: 700px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
    header h2{
        text-align: center;
        font-size: 40px;
        font-weight:lighter;
        margin-bottom: 150px;
    }
    header .invert{
        background-color: black;
        font-weight:bold;
        padding: 0px 10px 0px 10px;
    }

    /* formulário */

    form{
        color: white;
        font-family: var(--fonte-padrao);
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        width: 670px;
        
    }

    .formGroup{
        display: flex;
        flex-direction: column;
        font-family: var(--fonte-padrao);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    form input{
        border-radius: 10px;
        border:0;
        height: 23px;
        font-size: 20px;
        padding: 17px;
        margin: 1.3%;
        
    }
    .checkboxItems label{
        font-size: 22px;
        margin-right: 14px;   
        margin-left: 3px;
        width: 100%;            
    }
    .checkboxItems{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    input[type="checkbox"]{
        transform: scale(1.6);
}
    input[type="submit"]{
        background: rgba(12, 112, 242, 0.9);
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        border-radius: 10px;
        width: 98%;
        height: 60px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 1px;
        color: #FFFFFF;
        margin-top: 88px;
        cursor: pointer;
}

/* Estilização do Footer */

    footer {
        background-color: #0C70F2;
         width: 100%;
        
}
        footer .line1{
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            color: white;
            font-family: var(--fonte-padrao);
 }
    footer h5{
        font-size: 18px;
        font-weight: bold;
        background-color: black;
        border-radius: 10px;
       
        padding: 10px;
        margin-bottom: 10px;
        
    }
    footer ul{
            list-style: none;
            padding: 0;
            margin:0;
            font-family: var(--fonte-padrao);
    }
    footer ul li{
        text-align: center;
        color: white;
        margin: 20px 0px 20px 0px;
    }
    footer a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    footer nav{
        width:330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 330px;
        margin-left: 1px;

    }
    footer .address{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        width: 23%;
    }
    footer a:hover{    
        color: var(--cinza-hover);
    }

    footer .line2{
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    footer .line2 a{
        font-family: var(--fonte-padrao);
        font-size: 18px;
        font-weight: 600px;
        color: white;
        padding: 1px 7px 1px 7px;
       
    }

    footer .line2 a:hover{ 
        color: var(--cinza-hover);
    }

    footer .line2 a:first-child{
        border-right: 3px solid white;
        
    }

@media only screen and (max-width: 600px){
    
/* Menu Principal */
    
    #navHeader{
        flex-direction: column;
        height: auto;
    }

    #headerMenu{
        flex-direction: column;
        width: 100%;
        margin:0px;
    }
    #headerMenu a{
        display: flex;
        height: 50px;
        align-items: center;
    }
    #headerMenu a img{
        width: 90px;
    }
    #navHeader button{
        width: 100%;
        margin-right: 0px;    
    }

    /* Formulário */

    section h1{
        font-size: 40px;
    }
    section h2{
        font-size: 28px;
        padding: 0px 15px 0px 15px;
    }

    form{
        width: 95%;
        font-size: 20px;
    }
    
    .checkboxItems label{
        font-size:15px;
        width: auto;
    }

    /* Footer */

    footer .line1{
        flex-direction: column;
    }

    footer .address{
        width: 95%;
        margin-bottom: 50px;
    }

 }